name: "Reusable Maven Validate"

on:
  workflow_call:
    inputs:
      working_directory:
        type: string
        default: "."
      mvn_args:
        type: string
        default: ""

jobs:
  maven:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Maven Validate
        run: mvn -f "${{ inputs.working_directory }}" validate ${{ inputs.mvn_args }}
   
      - name: Maven Compile
        run: mvn -f "${{ inputs.working_directory }}" compile
 
      - name: Maven Test
        run: mvn -f "${{ inputs.working_directory }}" test
  
      - name: Maven Code Coverage
        run: mvn -f "${{ inputs.working_directory }}" prepare-package

      - name: Maven Package
        run: mvn -f "${{ inputs.working_directory }}" package
  kaniko-build:
    runs-on: ubuntu-latest
    needs: maven
    container:
      image: gcr.io/kaniko-project/executor:latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Kaniko Build Docker Image (tar only)
        run: |
          /kaniko/executor \
            --context "${{ inputs.working_directory }}" \
            --dockerfile "${{ inputs.working_directory }}/Dockerfile" \
            --build-arg BASE_IMAGE=${{ inputs.base_image }} \
            --no-push \
            --tarPath "${{ inputs.docker_tar_path }}"
          
      - name: List files
        run: ls -ltr
      